.title {
    font-size: 16px;
    font-weight: 500;

    margin: 0;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: text;

    border: none;
    outline: none;
    box-shadow: none;
    resize: none;

    /* 반응형 (Chakra 기준 md: 48em 이상) */
}

@media (min-width: 48em) {
    .title {
        font-size: 20px;
    }
}

.title:empty:before {
    content: attr(placeholder);
    display: block; /* Firefox 대응 */
    color: #4a4a50;
}

.title:hover {
    background-color: #ffffff15;
}
