.block {
  width: 100%;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  overflow-y: hidden;

  margin: 0 0;

  font-style: normal;

  text-align: left;
  font-family: "KoPubWorldBatang", "GowunBatang-Regular", "Noto Serif KR", serif;
  caret-color: var(--color-zinc-300);

  border-radius: 5px;

  transition: all 0.2s ease;
  cursor: text;
}

.block:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #52525b;
}

.comment-block {
  font-size: 16px;
  padding: 15px 30px;
  font-family: "Pretendard", sans-serif;

  font-weight: 400;
}

.block-container:hover .block-handle {
  opacity: 1;
}
